* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    font-family: Calibri, Arial, sans-serif;
    font-size: 3vh;
    font-weight: normal;
    color: black;
}

body {
    background-image: url('../images/paper.png');
}

h1 {
    font-size: 5vh;
    color: darkblue;
    text-align: center;
    font-weight: bold;
}

h2 {
    font-size: 4vh;
    color: darkblue;
    padding-left: 1vw;
    padding-top: 2vw;
    font-weight: bold;
}

p {
    padding-left: 2vw;
    padding-top: 1vw;
}

a {
    text-decoration: none;
    color: darkblue;
}

figure img {
    width: 20vw;
}

figure figcaption span.caption * {
    font-size: 2vh;
}

figure figcaption span.copyright * {
    font-size: 1vh;
}



/* disable the aside when  */
@media (max-width: 800px) {
    aside {
        display: none;
    }

    main {
        flex: 100vw;
    }

}

nav {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
}

aside,
main {
    box-sizing: border-box;
    border-width: 3px;
    border-style: solid;
}

aside {
    flex: 20vw;
    border-color: hotpink;
}

main {
    flex: 80vw;
    border-color: cyan;
}

footer {
    margin-top: 2vh;
}

footer * {
    text-align: center;
    font-size: 1.5vh;

}

table {
    border: 1px red solid;
}

a.sourceLink {
    font-style: italic;
    font-size: small;
}