* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    font-family: Calibri, Arial, sans-serif;
    font-size: 3vh;
    font-weight: normal;
    color: black;
}

strong {
    font-weight: bold;
}


body {
    background-image: url('../images/matthew-de-livera-4Gf51uY0YQE-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    font-size: 5vh;
    color: darkblue;
    text-align: center;
    font-weight: bold;
}

h2 {
    font-size: 4vh;
    color: darkblue;
    padding-left: 1vw;
    padding-top: 2vw;
    font-weight: bold;
}

p {
    padding-left: 2vw;
    padding-top: 1vw;
}

a {
    text-decoration: none;
    color: darkblue;
}

/* aside map */
figure img {
    width: 20vw;
}

figure figcaption span.caption * {
    font-size: 2vh;
}

figure figcaption span.copyright * {
    font-size: 1vh;
}




header {
    height: 8vh;
}

/* Class for centering elements in containers */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* navigation bar */
nav {
    background: rgba(46, 139, 86, 0.5);
}

.navbar {
    padding: 0px;
    display: flex;
    justify-content: center;
    list-style-type: none;
}


.navbar li {
    padding: 1.5vh 3vw;
}


.navbar li:hover {
    background-color: rgba(255, 255, 255, 0.25);
}


/**/
.container {
    display: flex;
    flex-direction: row;
    background-color: rgba(200, 255, 223, 60%);
}


/* Borders for main and aside sections */
aside,
main {
    box-sizing: border-box;
    border-width: 3px;
    border-style: solid;
}

aside {
    flex-basis: 20vw;
    border-color: hotpink;
}

main {
    flex-basis: 80vw;
    border-color: cyan;
}

/* disable the aside when  viewed in portrait mode, such as from a phone */
@media (orientation: portrait) {
    aside {
        display: none;
    }

    main {
        flex: 100vw;
    }

    .navbar {
        flex-wrap: wrap;
    }

}

/* avoid wrapping */
@media (max-width: 60vh) {
    h1 {
        font-size: 8vw;
    }
}

/* style footer for AI Usage disclaimers */
footer {
    padding-top: 2vh;
    background-color: rgba(240, 248, 255, 0.5);
}

footer * {
    text-align: center;
    font-size: 1.5vh;
    font-weight: 555;

}

/* add padding/indentation for Unordered Lists */
ul {
    padding-left: 4vw;
    padding-right: 4vw;
}

/* inserts gaps between mineral list entries */
.mining li {
    padding-bottom: 1vw;
}

/* styling for the company table */
.companies {
    border: 1px solid green;
}


.companies tr:nth-child(even) {
    background-color: lightgreen;
}

.companies tr:nth-child(odd) {
    background-color: lightblue;
}

.companies td {
    padding: 0px 0.25vw;
}

.companies td:hover {
    background-color: rgba(119, 69, 69, 0.25);
}

.companies th {
    padding: 0.5vw;
    background-color: green;
    color: white;
    text-align: left;


}

/* custom source link */
a.sourceLink {
    font-style: italic;
    font-size: small;
}

video {
    width: 19.5vw;
    border: 0.25vw rgba(0, 128, 0, 50%) solid;
    border-radius: 20px;
}